.loading {
  text-align: center;
  color: rgb(12, 12, 12);
  font-weight: 500;
  font-size: 24px;
}
.error {
  text-align: center;
  color: rgb(192, 6, 6);
  font-weight: 500;
  font-size: 24px;

}
.featuredProducts {
  margin: 100px 200px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1 {
      flex: 2;
      text-transform: capitalize;
    }

    p {
      flex: 3;
      color: gray;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

