.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .formdetails {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
      font-size: 24px;
      width: fit-content;
      min-width: 150px;
    }
    input{
        height: 24px;
        width: 300px;
    }
  }
  .submit{
    margin-top: 10px;
    display: flex;
    align-items: center;
     gap: 30px;
  button {
    width: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    background-color: #243f6c;
    
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  button:hover{
    background-color: #2879fe;

  }
}
p{
    margin-top: -10px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 24px;
}
}
